


  <% @comments.each do |comment| %>
  <div class="d-flex">
    <div class="text-center">
      <p>
        <%= link_to customer_path(comment.customer) do %>
          <%= image_tag comment.customer.get_icon_image(100, 100) %>
        <% end %>
      </p>
      <p><%= comment.customer.user_name %></p>
    </div>
    <div class="flex-fill p-3">
      <p><%= comment.comment_text %></p>
    </div>
  </div>
  <% end %>

  <%= form_with model: @comment, url:trip_comments_path(@trip), method: :post do |f| %>
  <%= f.text_area :comment_text %>
  <%= f.submit '投稿' %>
  <% end %>