
<% @customers.each do |customer| %>
<div>
  <%= link_to customer_path(customer) do %>
    <%= image_tag customer.get_icon_image(100, 100) %>
    <%= customer.user_name %>
  <%end%>
  <%= customer.active %>
  <%= link_to "退会", admins_customer_path(customer.id), method: :delete, data: {confirm: "本当に削除しますか？"}%>
</div>
<% end %>
